:root {
  --done-color: #069c56;
  --in-progress-color: #ff980e;
  --todo-color: #d3212c;
}

header {
  background-color: aquamarine;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.page-title {
  font-size: 4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

h1,
h2 {
  margin-bottom: 1.5rem;
}

.task-list>li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.task-wrapper {
  flex-basis: 70%;
  flex-shrink: 0;
}

.task {
  font-weight: 600;
  font-size: 1.2rem;
}

.banner {
  flex-shrink: 0;
  width: 150px;
  text-align: center;
  background-color: var(--done-color);
  padding: 0.5rem;
  color: aliceblue;
}

.task-done {
  background-color: var(--done-color);
}

.task-in-progress {
  background-color: var(--in-progress-color);
}

.task-todo {
  background-color: var(--todo-color);
}

@media screen and (max-width: 542px) {
  .task-list>li {
    flex-wrap: wrap;
  }

  .task-wrapper {
    flex-basis: 100%;
    flex-shrink: 0;
  }
}