.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.task-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.task-list > li {
  flex-basis: 100%;
}

.task {
  font-weight: 600;
  font-size: 1.2rem;
}
